

<center>
	<h1>{{ vacation.vacation.name }} | {{ vacation.vacation.description }}</h1>
<!-- <form ng-submit="create(attraction)" ng-controller="newAttraction">
	<input ng-model="attraction.name" placeholder="name" type="text">
	<br>
	<input ng-model="attraction.location" placeholder="location" type="text">
	<br>
	
	<input type="submit" value="Create attraction">
</form> -->

	<p ng-repeat ="attraction in attractions"><a ng-href="#/vacations/{{ vacation.vacation.id }}/attractions/{{attraction.id }}">{{ attraction.name }} </a>| {{ attraction.location }} </p>
</center>

<a ng-href="#/vacations/{{ vacation.vacation.id }}/attractions/new">Add Attractions</a>


