<div class="row loginpage container">
    <div class="col-md-4 col-md-offset-1">
        <div class="panel sign-in-panel">
          <div class="panel-heading">
          <center>
          <!-- <span class="glyphicon glyphicon-music"></span><br> -->
          <h2 class="panel-title">Sign in</h2> </center>
        </div>
        <form ng-submit="addSession(newUser)" role="form" > 
          <div class="form-group usernamelogin"> 
            <label for="username">Username</label> 
              <input type="text" name="username" id="username" ng-model="newUser.username" required="required" class="form-control"> 
          </div> 
          <div class="form-group passwordlogin">
            <label for="password">Password</label> 
              <input type="password" name="password" id="password" ng-model="newUser.password" required="required" class="form-control"> 
          </div>
       
          <button type="submit" class="btn btn-primary btn-lg">Sign in</button> 
        </form>
      <div class="orsignup" style="text-align: center">
        Or <a href="#/signup">Create an account</a>
      </div>
    </fieldset>
    </div>
  </div>
</div>





<!-- <form ng-submit="addSession(newUser)" role="form" > 
	<div class="form-group"> 
		<label for="username">Username</label> 
			<input type="text" name="username" id="username" ng-model="newUser.username" required="required" class="form-control"> 
	</div> 
	<div class="form-group">
		<label for="password">Password</label> 
			<input type="password" name="password" id="password" ng-model="newUser.password" required="required" class="form-control"> 
	</div>
			 
	<button type="submit" class="btn btn-primary btn-lg">Sign in</button> 
</form>
<div style="text-align: center">
	Or <a href="#/signup">Create an account</a>
</div> -->

