<!-- <div class="jumbotron">
  <h1>'Allo, 'Allo!</h1>
  <p class="lead">
    <img src="images/yeoman.png" alt="I'm Yeoman"><br>
    Welcome {{ user.username }}
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/vacations">Lets go!<span class="glyphicon glyphicon-ok"></span></a></p>
</div> -->

<div class="header vert">
    <div class="container">
    
    <h1>Welcome {{ user.username }}</h1>
      <p class="lead">Share, upload and plan your vacation!</p>
      <p class="lead leadlink"><a class="leadlink" ng-href="#/vacations">My Vacations</a></p>
      <div>&nbsp;</div>
    </div>
  </div>

  <div id="sec1" class="blurb">
    <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
      <h1>Amazing Features!</h1>
      <p class="lead">Save and Plan your vacations!</p>
      <p class="lead">Find all nearby favorite attractions!</p>
      <p class="lead">Upload photos into folders from anywhere!</p>
      </div>
    </div>
    </div>
  </div>

  <hr>

  <div class="blurb bright">
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
      <h3>Start Your Adventure Here!</h3>
      <br>
      </div>
    </div>
    
    <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
       <div class="panel panel-default">
       <div class="panel-heading text-center"><h2>Login</h2></div>
       <div class="panel-body text-center">Start sharing your best vacation memories!<hr>
        <button class="btn btn-lg btn-primary btn-block" ng-click="go(#/login)">Login</button> 
        </div>
       </div>
    </div>
    <div class="col-sm-4">
       <div class="panel panel-default">
       <div class="panel-heading text-center"><h2>Register</h2></div>
       <div class="panel-body text-center">First time, No problem! Sign up and start sharing! <hr>
        <button class="btn btn-lg btn-primary btn-block" ng-click="#/signup">Sign Up</button> 
         
        </div>
       </div>
    </div>
    </div>
  </div>

  


