<div>
	<form ng-submit="searchplace(search)">
		<input ng-model="search" name="search" type="text">
		<input class="btn btn-lg btn-default btn" type="submit" value="Search">
	</form>

	<!-- <ul ng-repeat="result in results"> 
		<li> {{ result.name }} | {{ result.formatted_address }}</li>
	</ul> -->


	<!-- <li ng-repeat="result in results"> 
		{{results}}
		<form ng-submit="create(attraction)">
			<input ng-model="attraction.name" placeholder="name" value="{{result.name}}" type="hidden">
			<br>
			<input ng-model="attraction.location" placeholder="location" value="{{result.formatted_address}}" type="hidden">
			<br>
		
			<input type="submit" value="Add to my places!">
		</form>
	</li> -->
</div>