<div class="new-attraction-body container">

	
		<div class="new-attraction-heading">
			<h1>{{ vacation.vacation.name }}</h1>
			<h1>ADD TOP ATTRACTIONS!</h1>
		</div>
	<div class="new-attraction-form-container">
		<form ng-submit="create(attraction)">
			<input class="newattractionname" ng-model="attraction.name" placeholder="Attraction Name" type="text">
			<br>
			<input class="newattractionlocation" ng-model="attraction.location" placeholder="Location" type="text">
			<br>
			<input class="newattractionurl" ng-model="attraction.url" placeholder="URL" type="text">
			<br>
			
			<input class="new-attraction-input" type="submit" value="Create attraction">
		</form>
	</div>
	<br>
	<br>
</div>





<!-- <div>
	<form ng-submit="searchplace(search)">
		<input ng-model="search" name="search" type="text">
		<input class="btn btn-lg btn-default btn" type="submit" value="Search">
	</form> -->

	<!-- <ul ng-repeat="result in results"> 
		<li> {{ result.name }} | {{ result.formatted_address }}</li>
	</ul> -->


	<!-- <li ng-repeat="result in results"> 
		{{results}}
		<form ng-submit="create(attraction)">
			<input ng-model="attraction.name" placeholder="name" value="{{result.name}}" type="hidden">
			<br>
			<input ng-model="attraction.location" placeholder="location" value="{{result.formatted_address}}" type="hidden">
			<br>
		
			<input type="submit" value="Add to my places!">
		</form>
	</li> -->
<!-- </div> -->